.none {
  display: none !important;
}

body {

  font-family: sans-serif;
}
#content{
/*  background: #EDE69B url("../to-do-list.jpg") no-repeat left;*/
  background-size: cover;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
}
#root{
  text-align: center;
}
.app{
  width: 1000px;
  margin: auto;
}
p {
  margin: 0 0 5px;
  width: 300px;
}

.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 300px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}


.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}
.todo_input{
  width: 300px;
  hiight: 20px;
}
.lineThrough{
  text-decoration: line-through;
}
* {
    padding: 0;
    margin: 0;
}

html{
    font: 14px normal Arial, sans-serif;
    color: #626771;
    background-color: #fff;
}

body{
    padding: 60px;
    text-align: center;
}

ul{
    list-style: none;
    display: inline-block;
}

ul li{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    color: #7B8585;
    transition: 0.3s;
    font-size: 17px;
    width: 300px;
    height: 25px;
    float: left;
}

ul li:hover{
    background-color: #beecea;
}

ul li.focused{
    color: #fff;
    background: #41c7c2 url("../check-mark.jpeg") no-repeat right;
    background-size: 25px 25px;
    text-decoration: line-through;
    font-size: 14px;
}

p{
    padding-top: 15px;
    font-size: 12px;
}
.toDoText{
  padding: 10px 20px;
}
.toDoBtn{
  padding: 10px 20px;
  background-color: #beecea;
}
#toDoInput{
  margin: 10px;
}
.toDoCheck{
  margin: 14px 0;
  width: 20px;
  height: 20px;
}
.toDop{

}
h1{
  color: red;
}
